<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1><%= t("notification.mail.update_project.content") %></h1>
    <p>
       <%= link_to 'here' , project_path(@project) %>.
    </p>
    <p>Have a great day!</p>
  </body>
</html>
