<% if @project.has_project_status? %>
        <% if @project.project_status == "called_seller" %>
                
                <span class="icon-stack icon-3x">
                  <i class="icon-circle icon-stack-base done"></i>
                  <i class="icon-phone icon-light"></i>
                </span>  
                <span class="icon-stack icon-2x">
                  <i class="icon-circle icon-stack-base todo"></i>
                  <i class="icon-building icon-light"></i>
                </span> 
                
          <% end %>

          <% if @project.project_status == "building_discovery" %>
                
                <span class="icon-stack icon-3x">
                  <i class="icon-circle icon-stack-base done"></i>
                  <i class="icon-building icon-light"></i>
                </span> 
                <span class="icon-stack icon-2x">
                  <i class="icon-circle icon-stack-base todo"></i>
                  <i class="icon-group icon-light"></i>
                </span>  
                
          <% end %>

          <% if @project.project_status == "people_discovery" %>
                 
                <span class="icon-stack icon-2x">
                  <i class="icon-circle icon-stack-base done"></i>
                  <i class="icon-building icon-light"></i>
                </span> 
                <span class="icon-stack icon-3x">
                  <i class="icon-circle icon-stack-base todo"></i>
                  <i class="icon-group icon-light"></i>
                </span>  
          <% end %>

          <% if @project.project_status == "interest_confirmation" %>
                
                <span class="icon-stack icon-2x">
                  <i class="icon-circle icon-stack-base done"></i>
                  <i class="icon-smile icon-light"></i>
                </span>
                <span class="icon-stack icon-2x">
                  <i class="icon-circle icon-stack-base todo"></i>
                  <i class="icon-ok icon-light"></i>
                </span> 
          <% end %>

          <% if @project.project_status == "feasibility_stamp" %>
                
                <span class="icon-stack icon-2x">
                  <i class="icon-circle icon-stack-base done"></i>
                  <i class="icon-ok icon-light"></i>
                </span> 
                <span class="icon-stack icon-2x">
                  <i class="icon-circle icon-stack-base todo"></i>
                  <i class="icon-link icon-light"></i>
                </span> 
          <% end %>

          <% if @project.project_status == "internal_agreement" %>
                
                <span class="icon-stack icon-2x">
                  <i class="icon-circle icon-stack-base done"></i>
                  <i class="icon-link icon-light"></i>
                </span> 
                <span class="icon-stack icon-2x">
                  <i class="icon-circle icon-stack-base todo"></i>
                  <i class="icon-money icon-light"></i>
                </span> 
          <% end %>

          <% if @project.project_status == "global_offer_making" %>
                
                <span class="icon-stack icon-2x">
                  <i class="icon-circle icon-stack-base done"></i>
                  <i class="icon-money icon-light"></i>
                </span> 
                <span class="icon-stack icon-2x">
                  <i class="icon-circle icon-stack-base todo"></i>
                  <i class="icon-thumbs-up icon-light"></i>
                </span> 
          <% end %>

          <% if @project.project_status == "global_offer_acceptance" %>
                
                <span class="icon-stack icon-2x">
                  <i class="icon-circle icon-stack-base done"></i>
                  <i class="icon-thumbs-up icon-light"></i>
                </span> 
                <span class="icon-stack icon-2x">
                  <i class="icon-circle icon-stack-base"></i>
                  <i class="icon-file-alt icon-light"></i>
                </span> 
          <% end %>

          <% if @project.project_status == "sales_agreement" %>
                
                <span class="icon-stack icon-3x">
                  <i class="icon-circle icon-stack-base done"></i>
                  <i class="icon-exchange icon-light"></i>
                </span>
                <span class="icon-stack icon-2x">
                  <i class="icon-circle icon-stack-base todo"></i>
                  <i class="icon-wrench icon-light"></i>
                </span> 
          <% end %>

          <% if @project.project_status == "challenges_fixing" %>
                
                <span class="icon-stack icon-3x">
                  <i class="icon-circle icon-stack-base done"></i>
                  <i class="icon-wrench icon-light"></i>
                </span> 
                <span class="icon-stack icon-2x">
                  <i class="icon-circle icon-stack-base todo"></i>
                  <i class="icon-certificate icon-light"></i>
                </span> 
                
          <% end %>

          <% if @project.project_status == "notarial_deed" %>
                
                <span class="icon-stack icon-3x">
                  <i class="icon-circle icon-stack-base done"></i>
                  <i class="icon-certificate icon-light"></i>
                </span> 
                <span class="icon-stack icon-2x">
                  <i class="icon-circle icon-stack-base"></i>
                  <i class="icon-home icon-light"></i>
                </span>  
          <% end %>

          <% if @project.project_status == "move_in" %>
                
                <span class="icon-stack icon-2x">
                  <i class="icon-circle icon-stack-base"></i>
                  <i class="icon-file-alt icon-light"></i>
                </span> 
                
                <span class="icon-stack icon-3x">
                  <i class="icon-circle icon-stack-base done"></i>
                  <i class="icon-home icon-light"></i>
                </span>  
          <% end %>
<% else %>
<p><%= t("project.call_the_seller") %></p>
          
                <span class="icon-stack icon-3x">
                  <i class="icon-circle icon-stack-base shoulddo"></i>
                  <%= link_to @project.source_link, :target => "_blank" do %>
                    <i class="icon-phone icon-light"></i>
                  <% end %>
                </span>  
                
<% end %>