


<div class="hero-unit people-stream project">

	<h1>Vous avez <%= @user.fellows.count %> neighbours </h1>

	<h3 class="text-center people-title">Behind real estate, <br>there are real people</h3>

	<p>Hey <%= user.has_name? ? user.name : user.name_placeholder %>,</p>
	
	<p><b>At Shaipz</b>, <%= link_to t("we believe"), about_path %> that, more than 'location, location, location', <b>what matters the most</b> when you search for your next home, <b>is the people you will be directly surrounded with.</b></p>

	<p><b>What about you?</b>
		<br>Do you feel like it's more about people than buildings?
	<br>Or are you looking to create an alternative way of living?
	</p>

	<p>Drop me a line about <b>what Shaipz could do to even better help you</b> reach your goal :

	<div class='text-center'>
		<a class="btn btn-info btn-large btn-block" href="mailto:hello@shaipz.com">I want services more focus on people</a>
	</div></p>

<br>
	<p>Best,</p>

<p class="text-right">
	<img src="assets/ProfilLaetitiaMassa.jpg" class="img-rounded">
	<br>Laetitia Massa,
	<br><small><i>fondatrice</i></small></p>
</div>