<div class="container container-fluid-project">

    
      <!-- Projects part -->
        <%= render :partial => "_shared/projects-stream" %>
      
      <!-- end of project part -->
    


</div>

