<div class="container container-fluid-project">
  <div class='row-fluid'>
    <div class="span4">
      <%= render :partial => "_shared/people-stream" %>
      
    </div>
    <div class="span8">
      <!-- Projects part -->
        <%= render :partial => "_shared/projects-stream" %>
      
      <!-- end of project part -->
    </div>


</div>

