<div id="shield" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel"><i class="icon-legal icon-large pull-left"> </i><%= t("Extra : the Legal Shield") %></h3>
  </div>
  
  <div class="modal-body">
    
      Your profile is your search engine. Your whole experience on Shaipz is based on it: the building you'll be able to explore, the project and people you'll be connected to, etc.

      <p>By making sure that your profile is complete, you maximise your chances to get faster in your real estate search.</p>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true"><%= t("legal.ok_thanks") %></button>
    <a class="btn btn-info" href="#enjoy" data-toggle="modal" data-dismiss="modal" aria-hidden="true"><%= t("next: enjoy") %></a>
   </div>
 </div>