<h2> <%= @user.perfect_fellows.count %>
  voisins hautement potentiels <br>
	<small>en commun : au moins une des communes <i><b>et</b></i> la readiness <i><b>et</b></i> l'optique d'achat.</small></h2>

  <% @user.perfect_fellows.each do |f| %>
  		<%= render :partial => "_shared/fellowsinfo", :locals => { :f => f } %>
  <% end %>

<ul class="nav nav-list">
  	<li class="divider"></li>
</ul>

<h2> <%= @user.fellows.count %>
  voisins potentiels <br>
  <small>en commun : soit l'une des communes, soit la readiness, soit l'optique d'achat.</small></h2>

  <% @user.fellows.each do |f| %>
  	<%= render :partial => "_shared/fellowsinfo", :locals => { :f => f } %>
  <% end %>
  