<div class="hero-unit people-stream project text-center">

	<% if @user.fellows.any? %>
	<h2><%= @user.fellows.count %> neighbours <i class="icon-group"></i></h2>
	
	<h3 class="text-center">It seems like you currently have <%= @user.fellows.count %> potential neighbours on Shaipz</h3>

	To see them, complete your profile and subscribe to the People First option.

	<div class="text-right edit-profile">
        <%= link_to t("edit my profile and see my neighbours"), edit_user_path(@user), :class => "btn btn-large btn-block btn-info" %>
    </div>

    and select "request People First"

	<% else %>

	Complete your profile and discover your potential neighbours

	<% end %>
	
	
</div>