<div class="container">

<!-- page title -->
  <div class="howitworks-header page-header">
    <h1><%= t("Within the Legal Pack") %></h1>
  </div>

<!-- content -->


  <div class="container-fluid">
    <div class="row-fluid">
      
      <div class="other-questions span3">
	    <div class="shield"><%= image_tag("shield.png", :size => "300x300") %>
		  	<div class="legal-price text-center"><h1>99<small>€</small></h1><small>/participation</small></div></div>
		  	<button class="btn btn-block btn-large btn-success">Activer mon pack</button>
		  	<button class="btn btn-block btn-link">Comment ça marche ?</button>

	  </div>

	  <div class="faq span9">
	  	  
		  <div class="question" id="question-what">
		  	<h2>Achat groupé oui, mais propriété individuelle</h2>
		  	<h4>Vous souhaitez bénéficier des avantages indéniables de l'achat groupé, mais conserver la sécurité et la liberté juridiques de l'achat individuel ?</h4>
		  	<p>Nous avons la solution : <button class="btn btn-block btn-link">le Legal Pack</button></p>
		  	<div class="row-fluid">
		  		<div class="span9">
		  			<div class="row-fluid compare-table">
		  				<div class="span6">
		  	
				</div> <!-- span7 -->
				  <div class="span3">
				
				</div> <!-- span3 -->
		  		<div class="span3">
		  	
				</div> <!-- span2 -->
			</div>
		</div>
				
				<div class="span3">
				
					<button class="btn btn-block btn-success">Activer mon pack</button>
		  	<button class="btn btn-block btn-link">Comment ça marche ?</button>
				</div>
		  	
		  </div>

		 
		    </div>
		  </div>

    </div>
  </div>
</div>


</diV>