
<div class="container">

<!-- page title -->
  <div class="howitworks-header page-header">
    <h1><%= t("Terms of use") %></h1>
  </div>

<!-- content -->

  <script type="text/javascript">
      $(document).ready (function(){
        $("#answer-what").hide();
        $("#answer-how").hide();
        $("#answer-howsave").hide();
        $("#answer-howlegal").hide();
        $("#answer-pricing").hide();
        $("#answer-howsteps").hide();
        $("#answer-howdetailedsteps").hide();
	        $("#question-what").one("click",function(){
	          $("#answer-what").slideDown("active");
	        });  
	        $("#question-how").one("click",function(){
	          $("#answer-how").slideDown("active");
	        }); 
	        $("#question-howsave").one("click",function(){
	          $("#answer-howsave").slideDown("active");
	        }); 
	        $("#question-howlegal").one("click",function(){
	          $("#answer-howlegal").slideDown("active");
	        }); 
	        $("#question-pricing").one("click",function(){
	          $("#answer-pricing").slideDown("active");
	        });   
	        $("#question-howsteps").one("click",function(){
	          $("#answer-howsteps").slideDown("active");
	        });
	        $("#question-howdetailedsteps").one("click",function(){
	          $("#answer-howdetailedsteps").slideDown("active");
	        }); 
      });
    </script>
  <div class="container-fluid">
    <div class="row-fluid">
      
      <div class="other-questions span4">
	    <p id="other-questions-title">Other questions?</p>
	    <p class="lead">We'd love to hear from you!</p>
	    <p>via twitter: @shaipzapp</p>
	    <p>via email: hello@shaipz.com</p>
	    <p>via facebook: facebook.com/shaipz</p>
	  </div>

	  <div class="faq span8">
	  	  
		  <div class="question" id="question-what">
		  	<h3>What is Shaipz ?</h3>
		  </div>

		  <div class="answer" id="answer-what">
		  	<p>Shaipz is a web application which allows you to find people who want, just as you, buy their flat through group buying, and to collaborate with them in order to make it happen.</p>
		  </div>
	  
		  <div class="question" id="question-how">
		  	<h3>How does it work?</h3>
		  </div>

		  <div class="answer" id="answer-how">
		  	<p>Shaipz is a web application which allows you to find people who want, just as you, buy their flat through group buying, and to collaborate with them in order to make it happen.</p>

		  	<div class="question" id="question-howsteps">
		  	  <h4>What are those main steps?</h4>
		    </div>

		    <div class="answer" id="answer-howsteps">
		  	  <p>Shaipz is a web application which allows you to find people who want, just as you, buy their flat through group buying, and to collaborate with them in order to make it happen.</p>
		    
		      <div class="question" id="question-howdetailedsteps">
		  	    <h4>In details how does all this happen?</h4>
		      </div>

		      <div class="answer" id="answer-howdetailedsteps">
		  	    <p>Shaipz is a web application which allows you to find people who want, just as you, buy their flat through group buying, and to collaborate with them in order to make it happen.</p>
		      </div>
		    </div>
		  </div>

		  <div class="question" id="question-howsave">
		  	<h3>How does Shaipz help me save money?</h3>
		  </div>

	  <div class="answer" id="answer-howsave">
	  	<p>Shaipz is a web application which allows you to find people who want, just as you, buy their flat through group buying, and to collaborate with them in order to make it happen.</p>
	  </div>

	  <div class="question" id="question-howlegal">
	  	<h3>How does it work, legally?</h3>
	  </div>

	  <div class="answer" id="answer-howlegal">
	  	<p>Shaipz is a web application which allows you to find people who want, just as you, buy their flat through group buying, and to collaborate with them in order to make it happen.</p>
	  </div>

	  <div class="question" id="question-pricing">
	  	<h3>How much it costs?</h3>
	  </div>

	  <div class="answer" id="answer-pricing">
	  	<p>Shaipz is a web application which allows you to find people who want, just as you, buy their flat through group buying, and to collaborate with them in order to make it happen.</p>
	  </div>
    </div>
  </div>
</div>


</diV>


