<!-- YOU TAB -->
<% if @project.suggested %>
    <div id="pane4" class="tab-pane">
    <% else %>
    <div id="pane4" class="tab-pane"> <!-- when back, this will be active class -->
    <% end %> 
   
      <div class="row-fluid">

<!-- LEFT SIDE -->     
        <div class="span8 offset3">
        	ok, ce projet vous plaît.
        	Que faire alors ?
        	<ul class="icons-ul">
  <li><i class="icon-li icon-ok"></i>vérifier s'il vous plaît VRAIMENT</li>
  <li><i class="icon-li icon-ok"></i>il vous plaît vraiment ? Alors cliquez sur "rejoindre" !</li>
  <li><i class="icon-li icon-ok"></i>complétez votre profil - et vérifiez que vous avez une adresse email que vous consultez régulièrement</li>
  <li><i class="icon-li icon-ok"></i>lancez ou participez à la conversation autour de ce projet, pour le faire avancer</li>
  <li><i class="icon-li icon-ok"></i>il y a suffisamment de participants au projet ? Réunissez-vous !</li>
  <li><i class="icon-li icon-ok"></i>&hellip;and many more with custom CSS</li>
</ul>
        	
        </div>
<!-- RIGHT SIDE -->
		 <div class="span8">
        </div>

    </div>
</div>