<div>
  <%= paginate comments %>
</div>

<ul class="no-margin-left" id="comments">
  <% unless comments.empty? %>
    <%= render :partial => 'opinio/comments/comment', :collection => comments %>
  <% end %>
</ul>

<div>
  <%= paginate comments %>
</div>
