/* Fonts */

@import url(http://fonts.googleapis.com/css?family=Amaranth);

/* Generic */

body {
  background: #fafafa url("bg4.png") repeat-x center 50px;
  font-size: 0.7em;
  font-family: "Lucida Grande", arial, sans-serif;
}

form ul li {
  list-style: none;
}

a {
	color: #999;
}

.clear {
  clear: both;
}

.wrap {
  width: 980px;
  margin: 0 auto;
}

.logo {
  font-family: 'Amaranth', sans-serif;
}

/* Top bar */

#top-bar {
  background: #1a1a1a;
  color: #fff;
}

#menu a {
  font-weight: bold;
  color: #fff;
  text-decoration: none;
}

#menu ul {
  margin: 0;
  padding: 20px 0;
}

#menu ul li {
  display: inline-block;
}

#menu ul li + li {
  margin: 0 0 0 20px;
}

#social-logo ul {
  position : absolute;
	top: -52px;
  right: 0;
}

#social-logo ul li {
	display: inline-block;
	font-weight: bold;
}

#social-logo ul li a {
	color: #fff;
	text-decoration: none;
}

#social-logo .wrap{
	position: relative;
}

#social-logo .wrap ul li .links a {
	position: relative;
	top: -5px;
}

#sign-in {
  padding: 20px 0;
}

#sign-in a {
  color: #fff;
}

#sign-in .field_with_errors {
  display: inline-block;
}

#sign-in .fields, #sign-in .form-actions {
  display: inline;
}

#sign-in .wrap{
	position: relative;
}

#sign-in  .facebook-button {
	display: inline-block;
	padding: 0;
  position: absolute;
  top: 0px;
  right: 0;
}

#sign-in .fields input {
  border: none;
  padding: 3px 5px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font-weight: bold;
  letter-spacing: 0.08em;
  margin: 0 5px 0 0;
}

#sign-in .fields label {
  font-weight: bold;
}

#sign-in .form-actions .button {
  background: url("sign-in-back-button-bg.png") repeat-x center center;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 1px;
  display: inline-block;
  margin: 0 5px;

}

#sign-in .form-actions .button input {
  display: block;
  border: none;
  background: url("button-b-bg.png") repeat-x center center;
  color: #fff;
  padding: 6px 20px;
  font-weight: bold;
  text-decoration: none;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, .2);
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0 1px 2px #ddd;
  -webkit-box-shadow: 0 1px 2px #ddd;
  box-shadow: 0 1px 2px #ddd;
}

/* Header */

header .wrap {
  position: relative;
}

header .logo {
  display: inline-block;
  font-size: 3em;
  color: #fff;
  text-shadow: 0 1px 2px #555;
  margin: 10px 10px 10px 0;
  position: relative;
}

header .logo a {
  text-decoration: none;
  color: #fff;
}

header .logo em {
  position: absolute;
  font-size: 0.3em;
  right: 2px;
  bottom: -4px;
}

header .tagline {
  display: inline-block;
  font-style: italic;
  font-size: 1.2em;
  color: #fff;
}

header #flash {
  position: absolute;
  right: 0;
  top: 15px;
}

header #flash .message {
  background: #fff;
  font-weight: bold;
  padding: 10px 10px 10px 36px;
  -moz-box-shadow: 0 1px 2px #ccc;
  -webkit-box-shadow: 0 1px 2px #ccc;
  box-shadow: 0 1px 2px #ccc;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

header #flash .alert {
  color: #7f0c2c;
  background: #fff url("error.png") no-repeat 10px center;
}

header #flash .notice {
  color: #9fbd5a;
  background: #fff url("tick.png") no-repeat 10px center;
}

/* Content */

#content {
  margin: 0 auto 20px;
  width: 940px;
  padding: 20px;
  background: #fff;
  -moz-box-shadow: 0 1px 2px #ccc;
  -webkit-box-shadow: 0 1px 2px #ccc;
  box-shadow: 0 1px 2px #ccc;
  color: #777;
  min-height: 387px;
}

#content form .fields {
  margin: 0;
  padding: 0;
}

#content form .fields li {
  margin: 0 0 10px 0;
  height: 41px;
}

#content form .fields li.checkbox {
  line-height: 41px;
}

#content form .fields li.text {
  height: auto;
}

#content form .fields li.text textarea {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: inset 0 1px 2px #b0b0b0;
  -webkit-box-shadow: inset 0 1px 2px #b0b0b0;
  box-shadow: inset 0 1px 2px #b0b0b0;
  border: none;
  width: 480px;
  padding: 5px;
}

#content form .fields li label {
  font-weight: bold;
  color: #aaa;
}

#content form .fields .string label, #content form .fields .text label  {
  display: block;
  margin: 0 0 5px 0;
}

#content form .fields .string strong label{
  color: #1b8e8a ;
}


#content form .fields .string input {
  color: #555;
  border: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: inset 0 1px 2px #b0b0b0;
  -webkit-box-shadow: inset 0 1px 2px #b0b0b0;
  box-shadow: inset 0 1px 2px #b0b0b0;
  padding: 5px;
  width: 190px;
}

#content form .form-actions {
  text-align: right;
	padding: 5px;
}

#content form .form-actions .button {
  display: inline-block;
  background: url("back-button-bg.png") repeat-x center top;
  padding: 4px;
  -moz-box-shadow: inset 0 1px 2px #ccc;
  -webkit-box-shadow: inset 0 1px 2px #ccc;
  box-shadow: inset 0 1px 2px #ccc;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

#content form .form-actions .button input {
  padding: 6px 40px;
  font-weight: bold;
  color: #777;
  border: none;
  text-shadow: 0 1px 0 #fff;
  background: #fff url("button-bg.png") repeat-x center bottom;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0 1px 2px #ccc;
  -webkit-box-shadow: 0 1px 2px #ccc;
  box-shadow: 0 1px 2px #ccc;
}

#content form .form-actions .button input:active {
  -moz-box-shadow: 0 0 2px #ccc;
  -webkit-box-shadow: 0 0 2px #ccc;
  box-shadow: 0 0 2px #ccc;
}

#content form .form-actions .green-button {
	display: inline-block;
  bottom: 15px;
  right: -280px;
}

#content form .form-actions .green-button input{
  border: none;
  background: url("button-b-bg.png") repeat-x center center;
  color: #fff;
  padding: 6px 20px;
  font-weight: bold;
  text-decoration: none;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, .2);
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0 1px 2px #ddd;
  -webkit-box-shadow: 0 1px 2px #ddd;
  box-shadow: 0 1px 2px #ddd;
}

/* Profile on the side */

#profile-box strong p a{
	color: #1b8e8a;
}

#profile-wrap {
  width: 200px;
  position: absolute;

  #profile-box h2 {
    margin: 10px 0;
  }



  #profile-info ul {
    margin: 10px 0 0 0;
    padding: 0;

    li {
      list-style: none;
      margin: 0 0 10px;

      .label {
        font-weight: bold;
        display: inline-block;
        width: 105px;
			}

			strong a {
				color: #1b8e8a;
      }
    }
  }
}

/* Homepage */

#why-shaipz {
  .why-box {
    width: 300px;
    float: left;
    margin: 0 0 20px 0;

    h3 {
      font-weight: normal;
      text-shadow: 0 1px 0 #fff;
      margin: 0;

      strong {
        color: #1b8e8a;
        text-transform: uppercase;
        font-weight: bold;
      }
    }
  }

  .why-box + .why-box {
    margin: 0 0 20px 20px;
  }

  .why-box.neighbours {
    text-align: center;
  }

  .why-box.terms-of-living {
    text-align: right;
  }
}

#sign-up {
  border: 1px solid #eee;
  background: #fafafa;
  padding: 20px;
  position: relative;
}

#sign-up #shaipz-info {
  position: absolute;
  width: 300px;
}

#sign-up h2 {
  color: #666;
  font-size: 1.8em;
  margin: 0;
  text-shadow: 0 1px 0 #fff;
}

#sign-up .description {
  color: #aaa;
  line-height: 1.7;
}

#sign-up .how-it-works{
	position:relative;
	right:-165px;
}

#follow-like{
	position:relative;
	top:10px;
}

#sign-up .how-it-works a{
	text-decoration: underline;
  font-weight:bold;
}

#sign-up #youtube {
	position:relative;
	top:19px;
}

#sign-up .soon a{
	text-decoration: underline;
  color: #fff;
}

#sign-up .soon {
  margin: 20px 0 0 0;
  background: #777;
  color: #fff;
  font-weight: bold;
  font-style: italic;
  text-align: center;
  line-height: 2;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

#sign-up form {
  margin: 26px 0 0 370px;
  width: 440px;
}

#sign-up form .fields {
  float: left;
  margin: 0 0 10px 0;
}

#sign-up form .fields + .fields {
  margin: 0 0 0 20px;
}

#sign-up form .form-actions small {
  font-style: italic;
  margin: 0 10px 0 0;
  font-size: 0.9em;
  font-weight: bold;
}

#sign-up form .form-actions input{
	display: block;
  border: none;
  background: url("button-b-bg.png") repeat-x center center;
  color: #fff;
  padding: 6px 20px;
  font-weight: bold;
  text-decoration: none;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, .2);
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0 1px 2px #ddd;
  -webkit-box-shadow: 0 1px 2px #ddd;
  box-shadow: 0 1px 2px #ddd;
}

/* Stream */

#stream {
  position: relative;
}

#stream #stream-wrap {
  min-height: 377px;
  margin: 0 0 0 220px;
}

#stream #start-project .action-call {
  text-align: center;
}

#stream #start-project .action-call .button .icon {
  background: url("project.png") no-repeat;
  display: block;
  width: 16px;
  height: 16px;
  position: absolute;
  top: 8px;
  left: 12px;
}

#stream #start-project .action-call .button {
  position: relative;
  display: inline-block;
  padding: 4px;
}

#stream #start-project .action-call .button a {
  display: block;
  border: none;
  background: url("button-b-bg.png") repeat-x center center;
  color: #fff;
  padding: 6px 30px;
  font-weight: bold;
  text-decoration: none;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, .2);
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0 1px 2px #ddd;
  -webkit-box-shadow: 0 1px 2px #ddd;
  box-shadow: 0 1px 2px #ddd;
}

#stream #start-project .action-call .button a:active {
  -moz-box-shadow: 0 0 2px #ccc;
  -webkit-box-shadow: 0 0 2px #ccc;
  box-shadow: 0 0 2px #ccc;
}

#stream #projects h2 {
  background: url("stream-header-bg2.png") repeat-x center center;
  text-transform: uppercase;
  margin: 15px 0 5px;
  padding: 0;
  font-size: 1em;
  color: #1b8e8a;
}

#stream #projects h2 span {
  display: inline-block;
  padding: 0 5px 0 0;
  background: #fff;
}

#stream #projects ol {
  margin: 0;
  padding: 0;
}

#stream #projects ol li {
  list-style: none;
  padding: 10px 0;
  position: relative;
  width: 500px;
}

#stream #projects ol li + li {
  border-top: 1px solid #f2f2f2;
}

#stream #projects ol li .picture {
  float: left;
  margin: 0 10px 10px 0;
}

#stream #projects ol li .picture img {
  border: 1px solid #dbdbdb;
  width: 100px;
  height: 50px;
  vertical-align: middle;
  padding: 3px;
  -moz-box-shadow: 0 1px 1px #efefef;
  -webkit-box-shadow: 0 1px 1px #efefef;
  box-shadow: 0 1px 1px #efefef;
}

#stream #projects ol li h3 {
  margin: 0 0 15px 0;
  padding: 0;
  color: #777;
  font-size: 1.1em;
}

#stream #projects ol li h3 a {
  text-decoration: none;
  color: #777;
}

#stream #projects ol li h3 small {
  color: #aaa;
}

#stream #projects ol li h3 small a {
  color: #aaa;
  text-decoration: none;
}

#stream #projects ol li h3 small a:hover {
  text-decoration: underline;
}

#stream #projects ol li .criteria {
  margin: 0 0 10px;
}

#stream #projects ol li .details {
  clear: left;
}

#stream #projects ol li .links {
  position: absolute;
  top: 40px;
  right: 0;
  line-height: 17px;
}

#stream #projects ol li .links span img {
  vertical-align: middle;
}

#stream #projects ol li .links span a {
  text-decoration: none;
}

#stream #projects ol li .links span a:hover {
  text-decoration: underline;
}

#stream #projects ol li .links span + span {
  margin: 0 0 0 5px;
}

#stream #projects ol li .criteria span, #stream #projects ol li .details span {
  display: inline-block;
  line-height: 1.5;
  padding: 0 20px 0 26px;
  background-position: center left;
  background-repeat: no-repeat;
}

#stream #projects ol li .amount {
  background-image: url("tag.png");
}

#stream #projects ol li .space {
  background-image: url("home.png");
}

#stream #projects ol li .shaipz {
  background-image: url("person.png");
}

#stream #projects ol li .address {
  background-image: url("location.png");
}

#stream #projects ol li .event {
  background-image: url("clock.png");
}

#stream #projects ol li .join-action {
  position: absolute;
  bottom: 10px;
  right: 0;
}

#stream #projects ol li .join-action input {
  display: block;
  border: none;
  background: url("button-b-bg.png") repeat-x center center;
  color: #fff;
  padding: 6px 20px;
  font-weight: bold;
  text-decoration: none;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, .2);
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0 1px 2px #ddd;
  -webkit-box-shadow: 0 1px 2px #ddd;
  box-shadow: 0 1px 2px #ddd;
}

#stream #projects ol li .join-action a:active {
  -moz-box-shadow: 0 0 1px #ccc;
  -webkit-box-shadow: 0 0 1px #ccc;
  box-shadow: 0 0 1px #ccc;
}

#stream #projects ol li .position {
  position: absolute;
  bottom: 10px;
  right: 0;
  background: #dedede;
  padding: 6px 5px 6px 0;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  border: 1px solid #ccc;
  font-weight: bold;
  text-shadow: 0 1px 0 #eee;
}

#stream #projects ol li .position span {
  background: #fff;
  padding: 6px 5px;
  margin: 0 5px 0 0;
}

/* Edit profile */

#edit-profile {
  position: relative;
}

#edit-profile form .picture {
  margin: 0;
  padding: 0;
  position: absolute;

  input {
    position: absolute;
    bottom: 20px;
    left: 5px;
    width: 190px;
  }
}

#edit-profile form .picture img {
  display: block;
  margin: 0 0 10px 0;
}

#edit-profile form .profile-actions {
  margin: 10px 0 0 0;
}

#edit-profile form .profile-actions a {
  color: #777;
  text-decoration: none;
}

#edit-profile form .profile-actions a:hover {
  text-decoration: underline;
}

#edit-profile form .fields {
  margin: 0 0 0 220px;
}

#edit-profile ul {
  margin: 0;
  padding: 0;
}

#research-links {
  margin: 0 0 0 220px;

  ul {
    list-style: none;
    padding: 0 0 0px;
    margin: 0;

    li {
      list-style: none;
      margin: 15px 0 0;

      .label {
        display: block;
        font-weight: bold;
        margin: 0 0 7px;
        color: #aaa;
      }

      a {
        display: inline-block;
        text-decoration: none;
        background: url("immo-search-bg.png") repeat-x center bottom;
        border: 1px solid #ddd;
        padding: 0 6px 0 11px;

        .search-link {
          display: inline-block;
          background: url("arrow-immo.png") no-repeat right center;
          font-weight: bold;
          padding: 0 20px 0 0;
          line-height: 30px;
          color: #00698c !important;
        }
      }
    }
  }
}


#edit-profile ul li {
  list-style: none;
  margin: 0 0 15px;
}

#edit-profile ul li .label {
  display: block;
  font-weight: bold;
  margin: 0 0 7px;
  color: #aaa;
}

/* Show profile */

#show-profile {
  position: relative;
  min-height: 260px;
}

#show-profile #profile-box {
  width: 200px;
  position: absolute;

  .picture .edit {
    background: #fff url("file.png") no-repeat 5px center;
    position: absolute;
    top: 0;
    left: 0;
    text-transform: uppercase;
    padding: 5px 5px 5px 25px;

    a {
      color: #1e5270;
      font-weight: bold;
      text-decoration: none;
    }
  }
}

#profile-box .status {
  margin: 0;
  padding: 5px;
  font-weight: bold;
  font-style: italic;
}

#show-profile .report a {
	position: absolute;
	right:    0;
  font-weight: bold;
	color: #999;
  text-decoration: none;
}

.report a {
	position: inline-block;
	right:    0;
	bottom:   0;
	color: #999;
  text-decoration: none;
}

.personal-status {
  margin: 20px 0 0 0;
  height: 14px;
  padding: 3px;
  width: 194px;
  background: url("back-button-bg.png") repeat-x bottom center;
  -moz-box-shadow: inset 0 1px 2px #ccc;
  -webkit-box-shadow: inset 0 1px 2px #ccc;
  box-shadow: inset 0 1px 2px #ccc;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

.personal-status .progress {
  background: url("progress.png") repeat-x;
  height: 14px;
  -moz-box-shadow: 0 1px 2px #ccc;
  -webkit-box-shadow: 0 1px 2px #ccc;
  box-shadow: 0 1px 2px #ccc;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  width: 0;
}

.personal-status .progress.not-buying {
  width: 10%;
}

.personal-status .progress.looking-for-opportunity {
  width: 50%;
}

.personal-status .progress.ready-but-bank {
  width: 70%;
}

.personal-status .progress.ready-with-bank {
  width: 85%;
}

.personal-status .progress.buying {
  width: 100%;
}


#show-profile #profile-info {
  margin: 0 0 0 220px;
}

#show-profile #profile-info h2 {
  margin: 0 0 20px 0;
}

#show-profile #profile-info ul {
  margin: 0;
  padding: 0;
}

#show-profile #profile-info ul li {
  list-style: none;
  margin: 0 0 20px;
}

#show-profile #profile-info ul li .label {
  display: block;
  font-weight: bold;
  margin: 0 0 10px;
  color: #aaa;
}

/* Projects */

/* New project */

#project-wrap {
  margin: 0 0 0 220px;
}

#project-wrap h2 {
  margin: 0 0 20px 0;
}

#project-wrap form .picture {
  margin: 0 0 10px 0;
}

#new-project form ul .two-fields .field {
  display: inline-block;
  width: 70px;
}

#new-project form ul .two-fields .field input {
  width: 60px !important;
}

#new-project form ul .two-fields .field + .field {
  margin: 0 0 0 7px;
  width: 90px;
}

#new-project form ul .two-fields .field + .field input {
  width: 120px !important;
}

/* Project details */

#show-project {
}

#show-project #project-wrap {
  position: relative;
}

#show-project #project-wrap .cover {
  text-align: center;
  margin: 0 0 10px 0;
  position: relative;
}

#show-project #project-wrap .cover .edit {
  background: #fff url("file.png") no-repeat 5px center;
  position: absolute;
  top: 0;
  left: 0;
  text-transform: uppercase;
  padding: 5px 5px 5px 25px;
}

#show-project #project-wrap .cover .edit a {
  color: #1e5270;
  font-weight: bold;
  text-decoration: none;
}

#show-project #project-wrap h2 {
  position: relative;
  padding: 0 36px 0 0;
}

#show-project #project-wrap h2 .external {
  position: absolute;
  right: 0;
  top: 0;
}

#show-project #project-wrap h2 .external a {
  font-size: 0.7em;
  display: inline-block;
  background: url("arrow.png") no-repeat right center;
  padding: 0 24px 0 0;
  line-height: 18px;
  text-decoration: none;
}

#show-project #project-wrap h2 .external a:hover {
  text-decoration: underline;
}

#show-project #owner {
  width: 280px;
  border: 1px dotted #1e5270;
  padding: 10px;
  position: absolute;
  right: 0;
  top: 250px;
}

#show-project #owner .picture {
  float: left;
  margin: 0 10px 0 0;
}

#show-project  .status {
  margin: 2px;
  padding: 5px;
  font-weight: bold;
  font-style: italic;
}

#show-project .description{
	font-weight:bold;
	font-style:italic;
	color:#1E5270;
}

#show-project, #new-project, #edit-project {
  h3 {
    text-transform: uppercase;
    font-size: 0.8em;
    color: #1e5270;
    margin: 0 0 10px 0;
  }
}

#show-project #owner h4 {
  margin: 0 0 10px 0;
}

#show-project #owner h4 a {
  color: #999;
  text-decoration: none;
}

#show-project #owner .status {
  font-style: italic;
}

#show-project #details {
  margin: 0 322px 0 0;
}

#show-project .criteria {
  margin: 0 0 20px 0;
}

#show-project .criteria span {
  display: inline-block;
  line-height: 1.5;
  padding: 0 20px 0 26px;
  background-position: center left;
  background-repeat: no-repeat;
}

#show-project .criteria .amount {
  background-image: url("tag.png");
}

#show-project .criteria .space {
  background-image: url("home.png");
}

#show-project .criteria .shaipz {
  background-image: url("person.png");
}

#show-project .report a {
	position: absolute;
	right: 0;
	color: #999;
  text-decoration: none;
}

#show-project #participants {
  .position {
    width: 100px;
    background: #dedede;
    padding: 6px 5px 6px 0;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    border: 1px solid #ccc;
    font-weight: bold;
    text-shadow: 0 1px 0 #eee;
    margin: 0 0 10px;

    span {
      background: #fff;
      padding: 6px 5px;
      margin: 0 5px 0 0;
    }
  }
  .leave-action {
    .leave-button {
      display: inline-block;
      background: url("back-button-bg.png") repeat-x center top;
      padding: 4px;
      -moz-box-shadow: inset 0 1px 2px #ccc;
      -webkit-box-shadow: inset 0 1px 2px #ccc;
      box-shadow: inset 0 1px 2px #ccc;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;

      input {
        padding: 6px 40px;
        font-weight: bold;
        color: #777;
        border: none;
        text-shadow: 0 1px 0 #fff;
        background: #fff url("button-bg.png") repeat-x center bottom;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px;
        -moz-box-shadow: 0 1px 2px #ccc;
        -webkit-box-shadow: 0 1px 2px #ccc;
        box-shadow: 0 1px 2px #ccc;
      }
    }
  }
}

#show-project #participants .join-action {
  margin: 0 0 10px 0;
}

#show-project #participants .join-action input {
  display: block;
  border: none;
  background: url("button-b-bg.png") repeat-x center center;
  color: #fff;
  padding: 6px 20px;
  font-weight: bold;
  text-decoration: none;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, .2);
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0 1px 2px #ddd;
  -webkit-box-shadow: 0 1px 2px #ddd;
  box-shadow: 0 1px 2px #ddd;
}

#show-project #participants .join-action a:active {
  -moz-box-shadow: 0 0 1px #ccc;
  -webkit-box-shadow: 0 0 1px #ccc;
  box-shadow: 0 0 1px #ccc;
}

#show-project #participants ol {
  margin: 0 0 20px 0;
  padding: 0;
}

#show-project #participants ol li {
  list-style: none;
}

#show-project #participants ol li + li {
  margin: 10px 0 0 0;
}

#show-project #participants ol li a {
  color: #999;
  text-decoration: none;
}

#show-project #participants ol li img {
  vertical-align: middle;
  margin: 0 10px 0 0;
}

.project-status {
  margin: 20px 0 0 0;
  height: 14px;
  padding: 3px;
  width: 300px;
  background: url("back-button-bg.png") repeat-x bottom center;
  -moz-box-shadow: inset 0 1px 2px #ccc;
  -webkit-box-shadow: inset 0 1px 2px #ccc;
  box-shadow: inset 0 1px 2px #ccc;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

.project-status .progress {
  background: url("progress.png") repeat-x;
  height: 14px;
  -moz-box-shadow: 0 1px 2px #ccc;
  -webkit-box-shadow: 0 1px 2px #ccc;
  box-shadow: 0 1px 2px #ccc;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  width: 0;
}

.project-status .progress.building-discovery {
  width: 5%;
}

.project-status .progress.people-discovery {
  width: 10%;
}

.project-status .progress.interest-confirmation {
  width: 15%;
}

.project-status .progress.feasibility-stamp {
  width: 25%;
}

.project-status .progress.internal-agreement {
  width: 40%;
}

.project-status .progress.global-offer-making {
  width: 50%;
}

.project-status .progress.global-offer-acceptance {
  width: 65%;
}

.project-status .progress.sales-agreement {
  width: 75%;
}

.project-status .progress.challenges-fixing {
  width: 90%;
}

.project-status .progress.notarial-deed {
  width: 95%;
}

.project-status .progress.move-in {
  width: 100%;
}


/* Footer */

footer {
  background: #fdfdfd;
  border-top: 1px solid #e1e1e1;
  padding: 20px 0;
  color: #777;

  .wrap {
    position: relative;

    .logo {
      display: inline-block;
      margin: 0 7px 0 0;
    }

    .tagline {
      display: inline-block;
      font-style: italic;
    }

    .browser {
      font-style: italic;
      color: #999;
    }

    nav ul {
      padding: 0;
      position: absolute;
      top: -10px;
      right: 0;

      li {
        display: inline-block;
      }

      a {
        color: #999;
        text-decoration: none;
        font-weight: bold;
      }

      .links {
        color: #231;

        a {
          position:relative;
          top:-5px;
        }
      }
    }
  }
}

/* Devise */

#error_explanation h2 {
  color: #d63f00;
}

/* How it works */

#how-it-works .youtube {
	text-align: center;
}

#how-it-works h1 {
	font-size : xx-large;
	text-align: center;
	color: #1b8e8a
}

#how-it-works h2 {
	font-size : large;
}

#how-it-works p {
	font-size : 110%;
}

#how-it-works p a {
	font-size : 100%;
	color: #1b8e8a;
}

#how-it-works a {
	font-size : 110%;
	color: #1b8e8a;
}

/* Errors */

form .fields .field_with_errors input {
  background-color: #ffdfdf !important;
}

form .fields .field_with_errors label {
  color: #d63f00 !important;
}
