/* Fonts */

@import url(http://fonts.googleapis.com/css?family=Amaranth);

/* Generic */

body {
  background: #fafafa url("bg.png") repeat-x center 50px;
  font-size: 0.7em;
  font-family: "Lucida Grande", arial, sans-serif;
}

form ul li {
  list-style: none;
}

.clear {
  clear: both;
}

.wrap {
  width: 980px;
  margin: 0 auto;
}

.logo {
  font-family: 'Amaranth', sans-serif;
}

/* Top bar */

#top-bar {
  background: #1a1a1a;
  color: #fff;
}

#menu a {
  font-weight: bold;
  color: #fff;
  text-decoration: none;
}

#menu ul {
  margin: 0;
  padding: 20px 0;
}

#menu ul li {
  display: inline-block;
}

#menu ul li + li {
  margin: 0 0 0 20px;
}

#sign-in {
  padding: 20px 0;
}

#sign-in a {
  color: #fff;
}

#sign-in .field_with_errors {
  display: inline-block;
}

#sign-in .fields, #sign-in .form-actions {
  display: inline;
}

#sign-in .fields input {
  border: none;
  padding: 3px 5px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font-weight: bold;
  letter-spacing: 0.08em;
  margin: 0 5px 0 0;
}

#sign-in .fields label {
  font-weight: bold;
}

#sign-in .form-actions .button {
  background: url("sign-in-back-button-bg.png") repeat-x center center;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 1px;
  display: inline-block;
  margin: 0 5px;
}

#sign-in .form-actions .button input {
  display: inline-block;
  border: none;
  background: url("sign-in-button-bg.png") repeat-x center center;
  color: #fff;
  font-weight: bold;
  text-shadow: 0 -1px 0 #000;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 3px 10px;
}

/* Header */

header .wrap {
  position: relative;
}

header .logo {
  display: inline-block;
  font-size: 3em;
  color: #fff;
  text-shadow: 0 1px 2px #555;
  margin: 10px 10px 10px 0;
}

header .logo a {
  text-decoration: none;
  color: #fff;
}

header .tagline {
  display: inline-block;
  font-style: italic;
  font-size: 1.2em;
  color: #fff;
}

header #flash {
  position: absolute;
  right: 0;
  top: 15px;
}

header #flash .message {
  background: #fff;
  font-weight: bold;
  padding: 10px;
  -moz-box-shadow: 0 1px 2px #ccc;
  -webkit-box-shadow: 0 1px 2px #ccc;
  box-shadow: 0 1px 2px #ccc;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

/* Content */

#content {
  margin: 0 auto 20px;
  width: 940px;
  padding: 20px;
  background: #fff;
  -moz-box-shadow: 0 1px 2px #ccc;
  -webkit-box-shadow: 0 1px 2px #ccc;
  box-shadow: 0 1px 2px #ccc;
  color: #777;
}

#content form .fields {
  margin: 0;
  padding: 0;
}

#content form .fields li {
  margin: 0 0 10px 0;
  height: 41px;
}

#content form .fields li.checkbox {
  line-height: 41px;
}

#content form .fields li.text {
  height: auto;
}

#content form .fields li.text textarea {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: inset 0 1px 2px #b0b0b0;
  -webkit-box-shadow: inset 0 1px 2px #b0b0b0;
  box-shadow: inset 0 1px 2px #b0b0b0;
  border: none;
  width: 200px;
  padding: 5px;
}

#content form .fields li label {
  font-weight: bold;
  color: #aaa;
}

#content form .fields .string label, #content form .fields .text label {
  display: block;
  margin: 0 0 5px 0;
}

#content form .fields .string input {
  color: #555;
  border: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: inset 0 1px 2px #b0b0b0;
  -webkit-box-shadow: inset 0 1px 2px #b0b0b0;
  box-shadow: inset 0 1px 2px #b0b0b0;
  padding: 5px;
  width: 200px;
}

#content form .form-actions {
  text-align: right;
}

#content form .form-actions .button {
  display: inline-block;
  background: url("back-button-bg.png") repeat-x center top;
  padding: 4px;
  -moz-box-shadow: inset 0 1px 2px #ccc;
  -webkit-box-shadow: inset 0 1px 2px #ccc;
  box-shadow: inset 0 1px 2px #ccc;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

#content form .form-actions .button input {
  padding: 6px 40px;
  font-weight: bold;
  color: #aaa;
  border: none;
  text-shadow: 0 1px 0 #fff;
  background: #fff url("button-bg.png") repeat-x center bottom;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0 1px 2px #ccc;
  -webkit-box-shadow: 0 1px 2px #ccc;
  box-shadow: 0 1px 2px #ccc;
}

#content form .form-actions .button input:active {
  -moz-box-shadow: 0 0 2px #ccc;
  -webkit-box-shadow: 0 0 2px #ccc;
  box-shadow: 0 0 2px #ccc;
}

/* Profile on the side */

#profile-wrap {
  width: 200px;
  position: absolute;
}

#profile-wrap #profile-box h2 {
  margin: 10px 0;
}

#profile-wrap #profile-info ul {
  margin: 10px 0 0 0;
  padding: 0;
}

#profile-wrap #profile-info ul li {
  list-style: none;
  margin: 0 0 10px;
}

#profile-wrap #profile-info ul li .label {
  font-weight: bold;
  display: inline-block;
  width: 105px;
}

/* Homepage */

#why-shaipz .why-box {
  width: 300px;
  float: left;
  margin: 0 0 20px 0;
}

#why-shaipz .why-box + .why-box {
  margin: 0 0 20px 20px;
}

#why-shaipz h3 {
  font-weight: normal;
  text-shadow: 0 1px 0 #fff;
  margin: 0;
}

#why-shaipz h3 strong {
  color: #c6f7f7;
  text-transform: uppercase;
  font-weight: bold;
}

#sign-up {
  border: 1px solid #eee;
  background: #fafafa;
  padding: 20px;
  position: relative;
}

#sign-up #shaipz-info {
  position: absolute;
  width: 260px;
}

#sign-up h2 {
  color: #666;
  font-size: 1.8em;
  margin: 0;
  text-shadow: 0 1px 0 #fff;
}

#sign-up .description {
  color: #aaa;
  line-height: 1.7;
}

#sign-up .soon {
  margin: 20px 0 0 0;
  background: #777;
  color: #fff;
  font-weight: bold;
  font-style: italic;
  text-align: center;
  line-height: 2;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

#sign-up form {
  margin: 26px 0 0 370px;
  width: 440px;
}

#sign-up form .fields {
  float: left;
  margin: 0 0 10px 0;
}

#sign-up form .fields + .fields {
  margin: 0 0 0 20px;
}

/* Stream */

#stream {
  position: relative;
}

#stream #stream-wrap {
  min-height: 377px;
  margin: 0 0 0 220px;
}

#stream #start-project .action-call {
  text-align: center;
}

#stream #start-project .action-call .button .icon {
  background: url("project.png") no-repeat;
  display: block;
  width: 16px;
  height: 16px;
  position: absolute;
  top: 8px;
  left: 12px;
}

#stream #start-project .action-call .button {
  position: relative;
  display: inline-block;
  background: url("back-button-bg.png") repeat-x center top;
  padding: 4px;
  -moz-box-shadow: inset 0 1px 2px #ccc;
  -webkit-box-shadow: inset 0 1px 2px #ccc;
  box-shadow: inset 0 1px 2px #ccc;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

#stream #start-project .action-call .button a {
  display: inline-block;
  padding: 6px 10px 6px 32px;
  font-weight: bold;
  color: #777;
  text-decoration: none;
  text-shadow: 0 1px 0 #fff;
  background: #fff url("button-bg.png") repeat-x center bottom;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0 1px 2px #ccc;
  -webkit-box-shadow: 0 1px 2px #ccc;
  box-shadow: 0 1px 2px #ccc;
}

#stream #start-project .action-call .button a:active {
  -moz-box-shadow: 0 0 2px #ccc;
  -webkit-box-shadow: 0 0 2px #ccc;
  box-shadow: 0 0 2px #ccc;
}

#stream #projects h2 {
  background: url("stream-header-bg.png") repeat-x center center;
  text-transform: uppercase;
  margin: 15px 0 5px;
  padding: 0;
  font-size: 1em;
  color: #99bec1;
}

#stream #projects h2 span {
  display: inline-block;
  padding: 0 5px 0 0;
  background: #fff;
}

#stream #projects ol {
  margin: 0;
  padding: 0;
}

#stream #projects ol li {
  list-style: none;
  padding: 10px 0;
  position: relative;
  width: 500px;
}

#stream #projects ol li + li {
  border-top: 1px solid #f2f2f2;
}

#stream #projects ol li .picture {
  float: left;
  margin: 0 10px 10px 0;
}

#stream #projects ol li .picture img {
  border: 1px solid #dbdbdb;
  vertical-align: middle;
  padding: 3px;
  -moz-box-shadow: 0 1px 1px #efefef;
  -webkit-box-shadow: 0 1px 1px #efefef;
  box-shadow: 0 1px 1px #efefef;
}

#stream #projects ol li h3 {
  margin: 0 0 15px 0;
  padding: 0;
  color: #777;
  font-size: 1.1em;
}

#stream #projects ol li .criteria {
  margin: 0 0 10px;
}

#stream #projects ol li .details {
  clear: left;
}

#stream #projects ol li .links {
  position: absolute;
  top: 40px;
  right: 0;
}

#stream #projects ol li .links span + span {
  margin: 0 0 0 5px;
}

#stream #projects ol li .criteria span, #stream #projects ol li .details span {
  display: inline-block;
  line-height: 1.5;
  padding: 0 20px 0 26px;
  background-position: center left;
  background-repeat: no-repeat;
}

#stream #projects ol li .amount {
  background-image: url("tag.png");
}

#stream #projects ol li .space {
  background-image: url("home.png");
}

#stream #projects ol li .shaipz {
  background-image: url("person.png");
}

#stream #projects ol li .address {
  background-image: url("location.png");
}

#stream #projects ol li .event {
  background-image: url("clock.png");
}

#stream #projects ol li .join-action {
  position: absolute;
  bottom: 10px;
  right: 0;
}

#stream #projects ol li .join-action a {
  display: block;
  background: url("button-b-bg.png") repeat-x center center;
  color: #fff;
  padding: 6px 20px;
  font-weight: bold;
  text-decoration: none;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, .2);
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0 1px 2px #ddd;
  -webkit-box-shadow: 0 1px 2px #ddd;
  box-shadow: 0 1px 2px #ddd;
}

#stream #projects ol li .join-action a:active {
  -moz-box-shadow: 0 0 1px #ccc;
  -webkit-box-shadow: 0 0 1px #ccc;
  box-shadow: 0 0 1px #ccc;
}

/* Edit profile */

#edit-profile {
  position: relative;
}

#edit-profile form .picture {
  margin: 0;
  padding: 0;
  position: absolute;
}

#edit-profile form .picture img {
  display: block;
  margin: 0 0 10px 0;
}

#edit-profile form .fields {
  margin: 0 0 0 220px;
}

/* Show profile */

#show-profile {
  position: relative;
  min-height: 260px;
}

#show-profile #profile-box {
  width: 200px;
  position: absolute;
}

#profile-box .status {
  margin: 0;
  padding: 5px;
  font-weight: bold;
  font-style: italic;
}

.personal-status {
  margin: 20px 0 0 0;
  height: 14px;
  padding: 3px;
  width: 194px;
  background: url("back-button-bg.png") repeat-x bottom center;
  -moz-box-shadow: inset 0 1px 2px #ccc;
  -webkit-box-shadow: inset 0 1px 2px #ccc;
  box-shadow: inset 0 1px 2px #ccc;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

.personal-status .progress {
  background: url("progress.png") repeat-x;
  height: 14px;
  -moz-box-shadow: 0 1px 2px #ccc;
  -webkit-box-shadow: 0 1px 2px #ccc;
  box-shadow: 0 1px 2px #ccc;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  width: 0;
}

.personal-status .progress.not-buying {
  width: 10%;
}

.personal-status .progress.looking-for-opportunity {
  width: 50%;
}

.personal-status .progress.ready-but-bank {
  width: 70%;
}

.personal-status .progress.ready-with-bank {
  width: 85%;
}

.personal-status .progress.buying {
  width: 100%;
}

#show-profile #profile-info {
  margin: 0 0 0 220px;
}

#show-profile #profile-info h2 {
  margin: 0 0 20px 0;
}

#show-profile #profile-info ul {
  margin: 0;
  padding: 0;
}

#show-profile #profile-info ul li {
  list-style: none;
  margin: 0 0 20px;
}

#show-profile #profile-info ul li .label {
  display: block;
  font-weight: bold;
  margin: 0 0 10px;
  color: #aaa;
}

/* Projects */

/* New project */

#project-wrap {
  margin: 0 0 0 220px;
}

#project-wrap h2 {
  margin: 0 0 20px 0;
}

#project-wrap form .picture {
  margin: 0 0 10px 0;
}


/* Footer */

footer {
  background: #fdfdfd;
  border-top: 1px solid #e1e1e1;
  padding: 20px 0;
  color: #777;
}

footer .logo {
  display: inline-block;
  margin: 0 7px 0 0;
}

footer .tagline {
  display: inline-block;
  font-style: italic;
}

/* Devise */

#error_explanation h2 {
  color: #d63f00;
}
