<%= form_for [@reportable, @report] do |f| %>
  <h2><%= t('report.reason') %></h2>
  <ul class="fields">
    <li class="text">
      <%= f.text_area :content, :placeholder => t("example_report"), :rows => 8 %>
    </li>
  </ul>

	<div class="form-actions clear">
    <span class="button"> <%= f.submit t('report.submit') %></span>
  </div>
<% end %>
