<%= form_for [@reportable, @report] do |f| %>
  
  <ul class="fields">
    <li class="text">
      <%= f.text_area :content, :placeholder => t("example_report"), :rows => 8 %>
    </li>
  </ul>

	<div class="form-actions clear">
    <%= f.submit t('report.submit'), :class => "btn btn-large btn-info btn-block" %>
  </div>
<% end %>
