@import "font-awesome";
$baseFontFamily: 'FontAwesome';
@import 'bootstrap';

/* Fonts */

@import url(http://fonts.googleapis.com/css?family=Amaranth);
@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic);

/* fix duplicate icons */

[class^="icon-"], [class*=" icon-"]{
    background:none;
  }

.btn [class^="icon-"], .btn [class*=" icon-"] {
    line-height: 1.3em;
}

/* Generic */
.navbar-inner {
  background: none;
  border: none;
  background-color: #e1f8fe;
}

.navbar .nav > li > a {
  color: #ced5d5;
  text-shadow: none;
}

.navbar .nav > li > a:hoover {
  color: #a2a4a4;
}

.navbar .nav .active > a {
  background-color: #ced5d5;
}
  
nav-bar-inner .container {
  width: 1020px;
}

.logo-navbar {
  position: absolute;
  top: -6px;
  left: -150px;
}

.inner-footer {
  position: absolute;
  margin-bottom: 0px;
  padding: 10px 0px 35px;
  color: #ffffff;
  background-color: #a2a4a4;
  
  h4 a {
  color: #0088cc;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  letter-spacing: 0px;
  }
  h4 a:hover {
  color: #005580;
  }

  h5 a {
  color: #0088cc;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  letter-spacing: 0px;
  }
  h5 a:hover {
  color: #005580;
  }

}

.signin {
  background-color: #a2a4a4;
  }

.social-links-footer {
  margin-top: 7px;
}

.alert {
  margin-top: 35px;
}

/* Homepage */

  .money {
  margin-top: -6px;
  margin-bottom: 5px;
  }


#join {
  padding-top: 40px;
  padding-bottom: 20px;
  background-image: url("/assets/home-header-background.png");
  background-align: center;
  background-repeat: no-repeat;
  
  #flash-home {
    float: top;
    position: absolute;
    margin-top: -70px;
  }

  #call-join {
  margin-top: 270px;
  }

  #watch {
  margin-top: 7px;
  color: black;
  font-size: 0.2em;
  font-family: 'Lato:400', sans-serif;
  }

}

#tagline {
  color: #a2a4a4;
  font-size: 4.5em;
  font-family: 'Lato', sans-serif;
  font-weight: 100;
  letter-spacing: 2px;
  text-shadow: 0px 0px 30px white;
  line-height: 55px;
  }

.image-eloge {
  float: left;
  margin: -25px 20px 0px 70px; 
}

.eloge {
  font-size: 1.2em;
  margin-top: 25px;
  margin-right: 50px;
  position: relative;
}

blockquote {
  border-left: none;
}

.carousel-inner {
  height: 125px;
}


#advantages {
  margin: 0px 0px 30px 0px;
  font-family: 'Lato', sans-serif;
  font-weight: 100;
  letter-spacing: 0px;
  i {
  color: #90dcf3;
  }
}

.both {
  z-index: -2;
  font-size: 14em;
  position: absolute;
  top: 660px;
  color: #90dcf3;
  opacity: 0.2;
}

.home-how {
  margin-bottom: 20px;
}

/* Signin Page */

.signinbloc {
  padding: 20px;
  margin-top: 60px;
  background-color: rgba(238,238,238,0.8);
}


.devise-links {
  font-size: 0.9em;
  margin: -20px 0px 0px 20px;
  line-height: 20px;

  a {
  color: #0088cc;
  }
}

#signin {
  padding-top: 30px;
  padding-bottom: 100px;
  background-image: url("/assets/signin-background.png");
  background-repeat: no-repeat;
  }

.form-actions {
  margin-top: -20px;
  padding-bottom: 10px;
  background: none;
  border: none;
}

/* Reset Password Page */

.passwordbloc {
  padding: 20px;
  margin-top: 60px;
  margin-bottom: 180px;
  background-color: rgba(238,238,238,0.8);
}

/* Edit Password Page */

.passwordeditbloc {
  padding: 20px;
  margin: 160px 0px 250px 0px;
  
  background-color: rgba(238,238,238,0.8);
}

/* How it Works Page */

.howitworks-header {
  
  h1 {
    font-size: 4em;
    font-family: 'Lato', sans-serif;
    font-weight: 100;
    letter-spacing: 0px;
  }
}

.question {
  h3 {
  font-family: 'Lato', sans-serif;
  font-weight: 100;
  letter-spacing: 0px;
  }
  cursor: pointer
}

.other-questions {
  margin-top: 15px;
}

#other-questions-title {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 1.5em;
  letter-spacing: 0px;
}

.faq {
  margin-bottom: 40px;
}

.container-fluid {
  min-height: 587px;
}


/* About Page */

.nav-pills > li > a {
  padding: 15px 35px;
}

.nav-pills > li > a:hover {
  background-color: #e1f8fe;
}




/* User Profile Show */

.profile {
  padding: 15px;
  background-color: #90dcf3;
}

.status-timing {
  margin-top: 50px;
}

.container-fluid-profile {
  min-height: 707px;
  padding-bottom: 20px;
}

.edit-profile {
  padding-top: 15px;
}

.report-profile {
  margin-top: -20px;
}




/* User Profile Edit */

.profilepic {
  margin-top: 2px;
} 

.profileyou {
  margin-top: 20px;
}




/* Project Show */

.project {
  padding: 5px;

}

.participants-list {
  padding: 0px;
  margin-bottom: -5px;
  background-color: #fafafa;


  .profile-participant {
  padding: 8px 2px 0px 5px;
  }

  .participants-status {
  font-size: 0.8em;
  }

}

.next-event {
  padding: 10px;
  background-color: #E3FCE9;
  border: grey;
}

.details-event {
  padding: 5px;
  background-color: #fafafa;
}

.icon-bell-alt {
  margin-top: 19px;
}

.event-participant {
  padding: 0px 0px 10px 2px;
}

.building {
  font-size: 1.5em;
 
}

.edit-project {
  padding-top: 15px;
}

.price {
  font-size: 1.7em;

}

.project-details-under {
  margin-top: 0px;
  padding-top: 3px;

}

.icon-money {
  margin-top: 12px;
  margin-right: 25px;
}

.icon-user {
  margin-top: 3px;
  margin-right: 7px;
}

.icon-home {
  margin-top: 5px;
  margin-right: 7px;
}

.icon-map-marker {
  margin-top: 10px;
  margin-right: 10px;
}

.first-details {
  background-color: #90dcf3;
  padding: 10px;
}

.inner-title {
  color: #0088cc;
}


/* Project New */

.search_link {
  padding: 20px;
  margin: 0px;
  background-color: #fafafa;
}

.search_link_intro {
  padding: 0px 20px;
  margin: 0px;
  background-color: #fafafa;
}

select {
  width: 430px;
  padding-left: -20px;
}

.date {
select {
  width: 90px;
  }
}

.event_description {
  textarea {
  width: 550px;
  }
}


.checkbox {
  margin-top: 25px;
 
}


/* User Profile Edit */

.cohousing-profile {
  margin-top: 0px;
  margin-bottom: 35px;

}



/* Projects Streams */

.disabled {
  opacity: .4;
        }

.stream-title {
  margin: 0px;
  h1 {
  margin-left: 3px;
  }
}

.stream-data-right {
 h1 {
  margin: 0px;
  }
 p {
  margin: 5px 0px 15px;
  font-size: 1.7em;
  }
 form {
  margin: 5px 0px 0px;
  } 

  .icon-external-link {
  margin: 3px 0px 0px 3px;
  }
}

.stream-details {
  margin-top: 45px;
  
  p {
  margin-top: 10px;
  }

  .icon-map-marker {
  margin-top: -4px;
  }

  .icon-user {
  margin-top: -2px;
  }
}



.snippet .discount {
  z-index: 2;
  position: absolute;
  top: 4px;
  left: 0px;

  .icon-bookmark {
  color: #0088cc;
  }
}
.snippet .discount .percentage {
  z-index:3;
  position: absolute;
  top: 5px;
  left: 20px;
  color: white;
  }


.snippet {
  z-index: 1;
  position: relative;
}

.snippet-project {
  z-index: 1;
  position: relative;
}

.snippet-project .discount {
  z-index: 2;
  position: absolute;
  top: -5px;
  left: 20px;

  .icon-bookmark {
  color: #0088cc;
  }
}
.snippet-project .discount .percentage {
  z-index:3;
  position: absolute;
  top: 5px;
  left: 7px;
  color: white;
  }


/* Invite Friends */

.invite-text {
  textarea {
    width: 810px;
  }

}

.invite-friends {
  padding: 0px;
  background-color: #fafafa;
}

/* Report */

textarea {
  width: 400px;
}

.report-box {
  margin-top: 100px;
}




/* Regular design */  
body {
  background: #fafafa;
  font-size: 1em;
  font-family: 'Lato', Lucida Grande, arial, sans-serif;
  min-width: 1020px;
}

form ul li {
  list-style: none;
}

a {
	color: #999;
}

.clear {
  clear: both;
}

.wrap {
  width: 980px;
  
}

.logo {
  font-family: 'Amaranth', sans-serif;
}



/* Top bar */

#top-bar {
  background: #333;
  color: #fff;

  .wrap {
    position: relative;

    #menu {
      a {
        font-weight: bold;
        color: #fff;
        text-decoration: none;
      }

      ul {
        margin: 0;
        padding: 20px 0;

        li {
          display: inline-block;
        }

        li + li {
          margin: 0 0 0 20px;
        }
      }
    }

    #social-logo {
      position: absolute;
      right: 0;
      top: 0;

      ul {
        margin: 14px 0;

        li {
          display: inline-block;
          font-weight: bold;
          margin: 0 0 0 5px;

          a {
            height: 25px;
            display: inline-block;
            color: #fff;
            text-decoration: none;
            line-height: 25px;
          }

          img {
            vertical-align: bottom;
            width: 25px;
            height: 25px;
          }
        }
      }
    }
  }
}


#sign-in {
 

  a {
    color: #fff;
  }

  .field_with_errors {
    display: inline-block;
  }

 

  .wrap {
    position: relative;
  }

  .facebook-button {
    display: inline-block;
    padding: 0;
    position: absolute;
    top: 0;
    right: 0;
  }

  

 
}

/* Header */

header .wrap {
  position: relative;
}

header .logo {
  display: inline-block;
  font-size: 3em;
  color: #fff;
  text-shadow: 0 1px 2px rgba(0,0,0,.5);
  margin: 10px 10px 10px 0;
  position: relative;
}

header .logo a {
  text-decoration: none;
  color: #fff;
}

header .logo em {
  position: absolute;
  font-size: 0.3em;
  right: 2px;
  bottom: -4px;
}

header .tagline {
  display: inline-block;
  font-style: italic;
  font-size: 1.2em;
  color: #fff;
}

header #flash {
  position: absolute;
  right: 150px;
  top: 15px;
}

 

/* Content */

#content {
  margin: 0 auto 20px;
  width: 940px;
  padding: 20px;
  background: #fff;
  -moz-box-shadow: 0 1px 2px #ccc;
  box-shadow: 0 1px 2px #ccc;
  color: #777;
  min-height: 450px;
  position: relative;
}

#content form .fields {
  margin: 0;
  padding: 0;
}

#content form .fields li {
  margin: 0 50px 10px 0;
  height: 41px;
}

#content form .fields li.checkbox {
  line-height: 41px;
}

#content form .fields li.text {
  height: auto;
}

#content form .fields li.text textarea {
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: inset 0 1px 2px #b0b0b0;
  box-shadow: inset 0 1px 2px #b0b0b0;
  border: none;
  width: 480px;
  padding: 5px;
}

#content form .fields li label {
  font-weight: bold;
  color: #aaa;
}

#content form .fields .string label, #content form .fields .text label {
  display: block;
  margin: 0 0 5px 0;
}

#content form .fields .string strong label {
  color: #1b8e8a ;
}

#content form .fields .string input {
  color: #555;
  border: none;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: inset 0 1px 2px #b0b0b0;
  box-shadow: inset 0 1px 2px #b0b0b0;
  padding: 5px;
  width: 190px;
}

#content form .form-actions {
  text-align: right;
	padding: 5px;

}

#content form .form-actions .button {
  display: inline-block;
  background: url("/assets/back-button-bg.png") repeat-x center top;
  padding: 4px;
  -moz-box-shadow: inset 0 1px 2px #ccc;
  box-shadow: inset 0 1px 2px #ccc;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

#content form .form-actions .button input {
  padding: 6px 40px;
  font-weight: bold;
  color: #777;
  border: none;
  text-shadow: 0 1px 0 #fff;
  background: #fff url("/assets/button-bg.png") repeat-x center bottom;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0 1px 2px #ccc;
  box-shadow: 0 1px 2px #ccc;
}

#content form .form-actions .button input:active {
  -moz-box-shadow: 0 0 2px #ccc;
  box-shadow: 0 0 2px #ccc;
}

#content form .form-actions .green-button {
	display: inline-block;
  bottom: 15px;
  right: -280px;
}

#content form .form-actions .green-button input{
  border: none;
  background: url("/assets/button-b-bg.png") repeat-x center center;
  color: #fff;
  padding: 6px 20px;
  font-weight: bold;
  text-decoration: none;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, .2);
  -moz-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0 1px 2px #ddd;
  box-shadow: 0 1px 2px #ddd;
}

#content .report a {
  position: absolute;
  left: 20px;
  bottom: 20px;
	color: #999;
  text-decoration: none;
}

/* Profile on the side */

#profile-wrap {
  width: 200px;
  position: absolute;

  #profile-box {
    .picture .edit {
      display: none;
      background: #fff url("/assets/file.png") no-repeat 5px center;
      position: absolute;
      top: 0;
      left: 0;
      text-transform: uppercase;
      padding: 5px 5px 5px 25px;
      color: #1e5270;
      font-weight: bold;
      text-decoration: none;
    }

    .cohousing {
      position: absolute;
      right: 0;
      top: 211px;
    }

    h2 {
      margin: 10px 0;
      width: 170px;
    }

    strong p a {
	    color: #1b8e8a;
    }
  }

  #profile-info ul {
    margin: 10px 0 0 0;
    padding: 0;

    li {
      list-style: none;
      margin: 0 0 15px;

      .label-in {
        font-weight: bold;
        display: inline-block;
        width: 125px;
			}
      .p {
        fond-weight: bold;
        font-size: 1.7em;
      }

			strong a {
				color: #1b8e8a;
      }
    }
  }
}

/* Homepage */

#why-shaipz {
  h2 {
    color: #666;
    font-size: 1.8em;
    text-align: center;
    margin: 25px 0 0 0;
    text-shadow: 0 1px 0 #fff;
    }
    
  .why-box {
    width: 235px;
    height: 250px;
    float: left;
    margin: 15px 0 20px 0;

    h3 {
      font-weight: normal;
      text-shadow: 0 1px 0 #fff;
      text-align: center;
      margin: 0;

      strong {
        color: #1b8e8a;
        text-transform: uppercase;
        font-weight: bold;
      }
    }
    h2 {
    color: #666;
    font-size: 1.8em;
    text-align: center;
    margin: 0;
    text-shadow: 0 1px 0 #fff;
    }
  }

  .why-box + .why-box {
    margin: 0 0 0px 0px;
  }

  .why-box.neighbours {
    text-align: center;
  }

  .why-box.terms-of-living {
    text-align: center;
  }
  
  .why-box.terms-of-living {
    text-align: center;
  }
}

#sign-up, .auth-form {
  border: 1px solid #eee;
  background: #fafafa;
  padding: 20px;
  position: relative;
}

#sign-up #shaipz-info {
  position: absolute;
  width: 420px;
}

#sign-up, .auth-form {
  h2 {
    color: #666;
    font-size: 1.8em;
    margin: 0;
    text-shadow: 0 1px 0 #fff;
  }
}

.auth-form h2 {
  margin: 0 0 15px;
}

#sign-up .description {
  color: #aaa;
  line-height: 1.7;
}

#sign-up .how-it-works {
	position:relative;
	right:-325px;
}

#follow-like{
	position:relative;
	top:10px;
}

#sign-up .how-it-works a {
	text-decoration: underline;
  font-weight:bold;
}

#sign-up #youtube {
	position:relative;
	top:10px;
}

#sign-up .soon a {
	text-decoration: underline;
  color: #fff;
}

#sign-up .soon {
  margin: 20px 0 0 0;
  background: #777;
  color: #fff;
  font-weight: bold;
  font-style: italic;
  text-align: center;
  line-height: 2;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

#sign-up form {
  margin: 5px 0 0 440px;
  width: 440px;
}

#sign-up form .fields {
  float: left;
  margin: 0 0 5px 0;
}

#sign-up form .fields + .fields {
  margin: 0 0 0 20px;
}

#sign-up form .form-actions small {
  font-style: italic;
  margin: 0 10px 0 0;
  font-size: 0.9em;
  font-weight: bold;
}

#sign-up form .form-actions input {
	display: block;
  border: none;
  background: url("/assets/button-b-bg.png") repeat-x center center;
  color: #fff;
  padding: 6px 20px;
  font-weight: bold;
  text-decoration: none;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, .2);
  -moz-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0 1px 2px #ddd;
  box-shadow: 0 1px 2px #ddd;
}

/* Report */

#report {
  position: relative;

  #report-wrap {
    margin: 0 0 0 220px;

    h2 {
      margin: 0 0 15px;
    }
  }
}

/* Stream */

#stream {
  position: relative;

  #stream-wrap {
    min-height: 377px;
    margin: 0 0 0 0px;
    width: 920px;
  }

  #start-project 

    .action-call {
      text-align: right;

    .button {
      position: relative;
      display: inline-block;
      background: url("/assets/immo-search-bg.png") repeat-x right bottom;
      border: 1px solid #ddd;
      -moz-border-radius: 2px;
      border-radius: 2px;
      padding: 6px 30px;
      text-decoration: none;

      span {
        background: url("/assets/project.png") no-repeat center left;
        display: inline-block;
        line-height: 16px;
        padding: 0 0 0 23px;
        color: #00698c;
        font-weight: bold;
        text-decoration: none;
        text-shadow: 0 1px 0 rgba(255, 255, 255, .85);
      }
    }
  }

  #projects {
    h2 {
      background: url("/assets/stream-header-bg.png") repeat-x center center;
      text-transform: uppercase;
      margin: 0px 0 5px;
      padding: 0;
      font-size: 1em;
      color: #1b8e8a;

      span {
        display: inline-block;
        padding: 0 5px 0 0;
        background: #fff;
      }
    }

    ol {
      margin: 0;
      padding: 0;

      li {
        list-style: none;
        padding: 10px 0;
        position: relative;
        width: 920px;

        &.disabled {
          opacity: .4;
        }

        .picture {
          float: left;
          margin: 0 10px 10px 0;

          img {
            border: 1px solid #dbdbdb;
            width: 200px;
            height: 100px;
            vertical-align: middle;
            padding: 3px;
            -moz-box-shadow: 0 1px 1px #efefef;
            box-shadow: 0 1px 1px #efefef;
          }
        }

        h3 {
          margin: 0 0 10px 0;
          padding: 0;
          color: #777;
          font-size: 1.7em;

          a {
            text-decoration: none;
            color: #777;
          }

          small {
            color: #aaa;

            a {
              color: #aaa;
              text-decoration: none;
            }

            a:hover {
              text-decoration: underline;
            }
          }
        }

        .criteria span, .details span {
          display: inline-block;
          line-height: 1.5;
          padding: 0 20px 0 26px;
          background-position: center left;
          background-repeat: no-repeat;
        }

        .criteria {
          margin: 0 0 10px;

          .cohousing {
            position: absolute;
            top: 10px;
            right: 0;
            margin: 0;
            padding: 0;
          }
        }

        .details {
          clear: float;
          margin-bottom: 5px; 
        }

        .links {
          position: absolute;
          bottom: 50px;
          right: 0;
          line-height: 16px;

          span {
            display: inline-block;
            width: 18px;

            img {
              vertical-align: middle;
            }

            a {
              text-decoration: none;
            }

            a:hover {
              text-decoration: underline;
            }
          }

          span + span {
            margin: 0 0 0 2px;
          }
        }

        .amount {
          background-image: url("/assets/tag.png");
        }

        .space {
          background-image: url("/assets/home.png");
        }

        .shaipz {
          background-image: url("/assets/person.png");
        }

        .address {
          background-image: url("/assets/location.png");
        }

        .event {
          background-image: url("/assets/clock.png");
        }

        .join-action {
          position: absolute;
          bottom: 5px;
          right: 0;

          input {
            display: block;
            border: none;
            color: #fff;
            padding: 6px 20px;
            font-weight: bold;
            text-decoration: none;
            text-shadow: 0 -1px 0 rgba(0, 0, 0, .2);
            -moz-box-shadow: 0 1px 2px #ddd;
            box-shadow: 0 1px 2px #ddd;
          }

          a:active {
            -moz-box-shadow: 0 0 1px #ccc;
            box-shadow: 0 0 1px #ccc;
          }
        }

        .position {
          position: absolute;
          bottom: 10px;
          right: 0;
          background: #dedede;
          padding: 6px 5px 6px 0;
          -webkit-border-radius: 2px;
          -moz-border-radius: 2px;
          border-radius: 2px;
          border: 1px solid #ccc;
          font-weight: bold;
          text-shadow: 0 1px 0 #eee;

          span {
            background: #fff;
            padding: 6px 5px;
            margin: 0 5px 0 0;
          }
        }
      }

      li + li {
        border-top: 1px solid #f2f2f2;
      }
    }
  }

  #create-call {
    text-align: right;
    margin: 0 0px 0 0;

    h4 {
      text-transform: uppercase;
      color: #1E5270;
      margin: 20px 0 5px 0;
    }

    p {
      margin: 0;

      a {
        text-decoration: none;
        font-weight: bold;
      }

      a:hover {
        color: #777;
      }
    }
  }
}

/* Edit profile */

#edit-profile {
  position: relative;

  ul {
    margin: 0 0 20px;
    padding: 0;

    li {
      list-style: none;
      margin: 0 0 15px;

      .label {
        display: block;
        font-weight: bold;
        margin: 0 0 7px;
        color: #aaa;
      }

      .string {
        margin: 0 0 25px;
      }
    }
  }

  form {
    #main-content {
      margin: 0 0 0 220px;

      h2 {
        margin: 0 0 20px;
      }
    }

    #side-content {
      width: 200px;
      margin: 0;
      padding: 0;
      position: absolute;

      .picture li {
        position: relative;

        input {
          position: absolute;
          bottom: 5px;
          left: 5px;
          width: 190px;
        }

        img {
          display: block;
          margin: 0 0 10px 0;
        }
      }

      .warning {
        color: #aaa;
      }
    }

    .profile-actions {
      margin: 10px 0 0 0;

      a {
        color: #777;
        text-decoration: none;
      }

      a:hover {
        text-decoration: underline;
      }
    }
  }
}

#research-links {
  margin: 0 0 0 0px;

  ul {
    list-style: none;
    padding: 0 0 0px;
    margin: 0;

    li {
      list-style: none;
      margin: 15px 0 0;

      .label {
        display: block;
        font-weight: bold;
        margin: 0 0 7px;
        color: #aaa;
      }

      a {
        display: inline-block;
        text-decoration: none;
        background: url("/assets/immo-search-bg.png") repeat-x center bottom;
        border: 1px solid #ddd;
        padding: 0 6px 0 11px;

        .search-link {
          display: inline-block;
          background: url("/assets/arrow-immo.png") no-repeat right center;
          font-weight: bold;
          padding: 0 20px 0 0;
          line-height: 30px;
          color: #00698c !important;
        }
      }
    }
  }
}

/* Show profile */

#show-profile {
  position: relative;
  min-height: 260px;

  #profile-box {
    width: 200px;
    position: absolute;

    .cohousing {
      position: relative;
      
      h3 {
        font-size: 1.2em;
        margin-top: -5px;
      }

      img {
        position: absolute;
        right: 0;
        top: 8px;
      }
    }

    .picture .edit {
      display: block;
      background: #fff url("/assets/file.png") no-repeat 5px center;
      position: absolute;
      top: 0;
      left: 0;
      text-transform: uppercase;
      padding: 5px 5px 5px 25px;
      color: #1e5270;
      font-weight: bold;
      text-decoration: none;
    }

    .profile-actions {
      margin: 5px 0 0;
      padding: 0;

      li {
        margin: 0 0 10px;
        list-style: none;

        a {
          color: #1B8E8A;
        }
      }
    }
  }
}

#profile-box .status {
  margin: 0;
  padding: 5px;
  font-weight: bold;
  font-style: italic;
}

.personal-status {
  margin: 20px 0 0 0;
  height: 14px;
  padding: 3px;
  width: 194px;
  background: url("/assets/back-button-bg.png") repeat-x bottom center;
  -moz-box-shadow: inset 0 1px 2px #ccc;
  box-shadow: inset 0 1px 2px #ccc;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

.personal-status .progress {
  background: url("/assets/progress.png") repeat-x;
  height: 14px;
  -moz-box-shadow: 0 1px 2px #ccc;
  box-shadow: 0 1px 2px #ccc;
  -moz-border-radius: 7px;
  border-radius: 7px;
  width: 0;
}

.not-buying {
  width: 10%;
}

.bar .looking-for-opportunity {
  width: 50%;
}

.bar .ready-but-bank {
  width: 70%;
}

.bar .ready-with-bank {
  width: 85%;
}

.buying {
  width: 100%;
}

.bar .bought {
  background: url("/assets/progress-bought.png") repeat-x;
  width: 100%;
}


#show-profile #profile-info {
  margin: 0 0 0 220px;
}

#show-profile #profile-info h2 {
  margin: 0 0 20px 0;
}

#show-profile #profile-info ul {
  margin: 0;
  padding: 0;
}

#show-profile #profile-info ul li {
  list-style: none;
  margin: 0 0 20px;
}

#show-profile #profile-info ul li .label {
  display: block;
  font-weight: bold;
  margin: 0 0 10px;
  color: #aaa;
}

/* Profile actions */

#profile-actions {
  margin: 20px 0 0 0;
  padding: 0;
  text-align: center;
  font-weight: bold;
  font-size: 1.1em;

  li {
    list-style: none;
    display: inline-block;
    margin: 0 5px 5px 5px;
  }

  .invitation {
    display: block;
    font-size: 1.5em;
  }

  a {
    color: #00698c;
    text-decoration: none;
  }

  a:hover {
    color: #1B8E8A;
  }
}

/* Projects */

/* New project */

#project-wrap {
  margin: 0 0 0 0px;

  h2 {
    margin: 0 0 2px 0;
  }
}

#project-wrap form .picture {
  margin: 20px 700px 10px 0;
  position: relative;

  input {
    position: absolute;
    bottom: 5px;
    left: 5px;
  }
}

#project-wrap .warning {
  color: #aaa;
}

#project-wrap .search-links {
  h4 {
    position: relative;
    left: 750px;
    top: 100px;
  }

  ul {
    position: absolute;
    left: 210px;
    top: 55px;
    padding: 0;
    font-weight: bold;

    li {
      list-style: none;

      a {
        color: #00698c;
        text-decoration: none;
      }

      a:hover {
        color: #1B8E8A;
      }
    }

    li + li {
      margin: 5px 0 0;
    }
  }

  p {
    margin: 5px 0 15px 0;
  }
}

#project-wrap #whats_your_project {
  h2{
    color: #00698c;
    font-size: 1.5em;
  }
}

#project-wrap #whats_your_project .place {
    position: relative;
    margin: 10px 20px 5px 0;
}

#project-wrap #whats_your_project .source {
    position: relative;
    margin: 10px 20px 5px 0;
}

#project-wrap #nothing_in_mind .nothing_yet {
    font-style: italic;
    text-decoration: underline;
    color: #1b8e8a;
    position: relative;
    margin: 30px 20px 5px 0;
    cursor: pointer
}

#project-wrap #whats_your_project .whats_details {
    margin: 20px 50px 5px 0;
    position: relative;

    .picture {
      position: relative;
      margin: 10px 10px 10px 0;
    }
    
}

#project-wrap #whats_your_project .how_much {
    position: absolute;
    left: 300px;
    top: 65px;
}

#project-wrap #whats_your_project .how_big {
    position: absolute;
    left: 300px;
    top: 115px;
}

#project-wrap #whats_your_project .zipcode_and_city {
    position: absolute;
    left: 300px;
    top: 165px;
}

#project-wrap #whats_your_project .street {
    position: absolute;
    left: 300px;
    top: 225px;
}

#project-wrap #whats_your_project .hide_street {
    position: absolute;
    left: 510px;
    top: 255px;
}

#project-wrap #whats_your_project .people {
    margin: 20px 50px 5px 0;
    position: relative;
}

#project-wrap #whats_your_project .name {
    margin: 10px 50px 5px 0;
    position: relative;
}

#project-wrap #whats_your_project .how_many {
    position: absolute;
    left: 270px;
    top: 112px;
}

#project-wrap #whats_your_project .cohousing {
    position: absolute;
    left: 510px;
    top: 130px;

}

#project-wrap #whats_your_project .happenings {
    margin: 20px 50px 0px 0;
    position: relative;
}

#project-wrap .whats_next {
    margin: 0px 50px 5px 0;
    position: relative;
}

#project-wrap .next_box .project_status {
    margin: 10px 10px 5px 0;
    position: relative;
}

#project-wrap .next_box .event_type {
    position: relative;
    margin: 30px 0 0 0;
}

#project-wrap .next_box .event_date {
    position: relative;
    margin: -5px 0 0 0;
}

#new-project form ul .two-fields .field {
  display: inline-block;
  width: 70px;

}

#new-project form ul .two-fields .field input {
  width: 60px !important;
}

#new-project form ul .two-fields .field + .field {
  margin: 0 0 0 7px;
  width: 90px;
}

#new-project form ul .two-fields .field + .field input {
  width: 120px !important;
}


/* Edit project */

#new-project #project-wrap h2 .how {
  position: absolute;
  right: 5px;
  top: 17px;
}

#new-project #project-wrap h2 .how a {
  font-size: 0.7em;
  color: #1b8e8a;
  font-style: italic;
  display: inline-block;
  padding: 0 17px 0 0;
  text-decoration: none;
}

#new-project #project-wrap h2 .how a:hover {
  text-decoration: underline;
}

/* Project details */

#show-project #project-wrap {
  position: relative;
}

#show-project #project-wrap .cover {
  text-align: center;
  margin: 0 0 10px 0;
  position: relative;
}

#show-project #project-wrap .cover .edit {
  background: #fff url("/assets/file.png") no-repeat 5px center;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  text-transform: uppercase;
  padding: 5px 5px 5px 25px;
  color: #1e5270;
  font-weight: bold;
  text-decoration: none;
}

#show-project #project-wrap h2 {
  position: relative;
  padding: 0 36px 0 0;
}

#show-project #project-wrap h2 .external {
  position: absolute;
  right: 0;
  top: 0;
}

#show-project #project-wrap h2 .external a {
  font-size: 0.7em;
  display: inline-block;
  background: url("/assets/arrow.png") no-repeat right center;
  padding: 0 24px 0 0;
  line-height: 18px;
  text-decoration: none;
}

#show-project #project-wrap h2 .external a:hover {
  text-decoration: underline;
}

#show-project #owner {
  width: 280px;
  border: 1px dotted #1e5270;
  padding: 10px;
  position: absolute;
  right: 0;
  top: 320px;
}

#show-project #owner .picture {
  float: left;
  margin: 0 10px 0 0;
}

#show-project .status {
  margin: 2px;
  padding: 0px;
  font-weight: bold;
  font-style: italic;
}

#show-project .description {
	font-weight:bold;
	font-style:italic;
	color:#1E5270;
}

#show-project, #new-project, #edit-project {
  h3 {
    text-transform: uppercase;
    font-size: 0.8em;
    color: #1e5270;
    margin: 0 0 0px 0;
  }
}

#show-project #owner h4 {
  margin: 0 0 5px 0;
}

#show-project #owner h4 a {
  color: #999;
  text-decoration: none;
}

#show-project #owner .status {
  font-style: italic;
}

#show-project #details {
  margin: 0 322px 0 0;
}

#show-project .criteria {
  margin: 0 0 20px 0;
}

#show-project .criteria span {
  display: inline-block;
  line-height: 20px;
  padding: 0 20px 0 26px;
  background-position: center left;
  background-repeat: no-repeat;
}

#show-project .criteria .amount {
  background-image: url("/assets/tag.png");
}

#show-project .criteria .space {
  background-image: url("/assets/home.png");
}

#show-project .criteria .shaipz {
  background-image: url("/assets/person.png");
}

#show-project .criteria .cohousing {
  background-image: url("/assets/cohousing.png");
}

#show-project #participants {
  .position {
    width: 100px;
    background: #dedede;
    padding: 6px 5px 6px 0;
    -moz-border-radius: 2px;
    border-radius: 2px;
    border: 1px solid #ccc;
    font-weight: bold;
    text-shadow: 0 1px 0 #eee;
    margin: 0 0 10px;

    span {
      background: #fff;
      padding: 6px 5px;
      margin: 0 5px 0 0;
    }
  }

  .leave-action {
    text-align: right;

    .leave-button {
      display: inline-block;
      padding: 4px;
      
      -moz-border-radius: 3px;
      border-radius: 3px;

      input {
        display: block;
        padding: 6px 20px;
        font-weight: bold;
        color: #fff;
        border: none;
        text-decoration: none;
        text-shadow: 0 -1px 0 rgba(0, 0, 0, .2);
        -moz-box-shadow: 0 1px 2px #ccc;
        box-shadow: 0 1px 2px #ddd;
      }
    }
  }
}

#show-project #participants .join-action {
  margin: 0 0 10px 0;
}

#show-project #participants .join-action input {
  display: block;
  border: none;
  color: #fff;
  padding: 6px 20px;
  font-weight: bold;
  text-decoration: none;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, .2);
  -moz-box-shadow: 0 1px 2px #ddd;
  box-shadow: 0 1px 2px #ddd;
}

#show-project #participants .join-action a:active {
  -moz-box-shadow: 0 0 1px #ccc;
  box-shadow: 0 0 1px #ccc;
}

#show-project #participants ol {
  margin: 0 0 20px 0;
  padding: 0;
}

#show-project #participants ol li {

  span {  
    font-size: 1.5em;
    color: #1e5270;
  }
  list-style: none;
}


#show-project #participants ul li + li {
  margin: 2px 0 10px 0;
  span {  
    font-size: 1em;
    font-style: italic;
  }
}

#show-project #participants ol li a {
  color: #999;
  text-decoration: none;
}

#show-project #participants ol li img {
  vertical-align: middle;
  margin: 0 10px 0 0;
  float: left;
}

.project-status {
  margin: 20px 0 0 0;
  height: 14px;
  padding: 3px;
  width: 300px;
  background: url("/assets/back-button-bg.png") repeat-x bottom center;
  -moz-box-shadow: inset 0 1px 2px #ccc;
  box-shadow: inset 0 1px 2px #ccc;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

.project-status .progress {
  background: url("/assets/progress.png") repeat-x;
  height: 14px;
  -moz-box-shadow: 0 1px 2px #ccc;
  box-shadow: 0 1px 2px #ccc;
  -moz-border-radius: 7px;
  border-radius: 7px;
  width: 0;
}

.project-status .progress.building-discovery {
  width: 5%;
}

.project-status .progress.people-discovery {
  width: 10%;
}

.project-status .progress.interest-confirmation {
  width: 15%;
}

.project-status .progress.feasibility-stamp {
  width: 25%;
}

.project-status .progress.internal-agreement {
  width: 40%;
}

.project-status .progress.global-offer-making {
  width: 50%;
}

.project-status .progress.global-offer-acceptance {
  width: 65%;
}

.project-status .progress.sales-agreement {
  width: 75%;
}

.project-status .progress.challenges-fixing {
  width: 90%;
}

.project-status .progress.notarial-deed {
  width: 95%;
}

.project-status .progress.move-in {
  width: 100%;
}

/* Footer */

footer {
  background: #fdfdfd;
  border-top: 1px solid #e1e1e1;
  padding: 20px 0;
  color: #777;

  .wrap {
    position: relative;

    .logo {
      display: inline-block;
      margin: 0 7px 0 0;
    }

    .tagline {
      display: inline-block;
      font-style: italic;
    }

    .browser {
      font-style: italic;
      color: #999;
      margin: 0;
    }

    nav {
      position: absolute;
      top: 0;
      right: 0;

      ul {
        margin: 5px 0;

        li {
          margin: 0 0 0 5px;
          display: inline-block;
          font-weight: bold;

          a {
            height: 25px;
            display: inline-block;
            color: #999;
            text-decoration: none;
            line-height: 25px;
          }

          img {
            vertical-align: bottom;
            width: 25px;
            height: 25px;
          }
        }
      }
    }
  }
}

/* Devise */

#error_explanation h2 {
  color: #d63f00;
}

/* How it works */

#how-it-works .youtube {
	text-align: center;
}

#how {
  .how-box {
    width: 200px;
    float: center;
    margin: 0 0 10px 0;

    h3 {
      font-weight: normal;
      text-shadow: 0 1px 0 #fff;
      margin: 0;

      strong {
        color: #1b8e8a;
        text-transform: uppercase;
        font-weight: bold;
      }
    }
  }

  .how-box + .how-box {
    margin: 0 0 20px 20px;
  }

  .how-box.people {
    text-align: center;
  }

  .how-box.happenings {
    text-align: right;
  }
}


#how-it-works h1 {
	font-size: xx-large;
	text-align: center;
	color: #1b8e8a
}


#how-it-works h2 {
	font-size: large;
}

#how-it-works p {
	font-size: 110%;
}

#how-it-works p a {
	font-size: 100%;
	color: #1b8e8a;
}

#how-it-works a {
	font-size: 110%;
	color: #1b8e8a;
}

#how-it-works span {
  
  font-style: italic;
  text-decoration: underline;
  color: #1b8e8a;

}

/* icons */

#how-it-works icons {
  .how-icon {
    width: 200px;
    float: left;
    margin: 0 0 20px 0;

    h3 {
      font-weight: normal;
      text-shadow: 0 1px 0 #fff;
      margin: 0;

      strong {
        color: #1b8e8a;
        text-transform: uppercase;
        font-weight: bold;
      }
    }
  }

  .how-icon + .how-icon {
    margin: 0 0 20px 20px;
  }

  .how-icon.commitment {
    text-align: center;
  }

  .how-icon.paperwork {
    text-align: center;
  }
  
  .how-icon.success {
    text-align: center;
  }
}

#how-it-works .FAQ-more {
  cursor: pointer 
}

/* timeline */

#how-it-works .timeline {

	h3 {
	font-size: 125%;
	font-style: italic;
	color: #1b8e8a;
	}
}

#timeline-step {
  .timeline-step {
    width: 300px;
    float: left;
    margin: 0 0 10px 0;

    h3 {
      font-weight: normal;
      text-shadow: 0 1px 0 #fff;
      margin: 0;

      strong {
        color: #1b8e8a;
        text-transform: uppercase;
        font-weight: bold;
      }
    }
  }

  .timeline-step + .timeline-step {
    margin: 0 0 5px 5px;
  }

  .timeline-step.building {
    text-align: center;
  }

  .timeline-step.people {
    text-align: right;
  }

  .timeline-step.interest {
    text-align: right;
  }

  .timeline-step.feasibility {
    text-align: right;
  }

  .timeline-step.agreement {
    text-align: right;
  }

  .timeline-step.offer {
    text-align: right;
  }

  .timeline-step.acceptance {
    text-align: right;
  }

  .timeline-step.sales {
    text-align: right;
  }

  .timeline-step.challenges {
    text-align: right;
  }

  .timeline-step.deed {
    text-align: right;
  }

  .timeline-step.move {
    text-align: right;
  }
}

/* Errors */

form .fields .field_with_errors input {
  background-color: #ffdfdf !important;
}

form .fields .field_with_errors label {
  color: #d63f00 !important;
}

